/*==========Screen sizes - to compile SASS without error ===========*/
/*=========================================================================*/
@media only screen and (max-width: 767px) {
  .text-xs-left {
    text-align: left; }

  .text-xs-right {
    text-align: right; }

  .text-xs-center {
    text-align: center; }

  .text-xs-justify {
    text-align: justify; } }
@media only screen and (max-width: 991px) and (min-width: 480px) {
  .text-sm-left {
    text-align: left; }

  .text-sm-right {
    text-align: right; }

  .text-sm-center {
    text-align: center; }

  .text-sm-justify {
    text-align: justify; } }
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .text-md-left {
    text-align: left; }

  .text-md-right {
    text-align: right; }

  .text-md-center {
    text-align: center; }

  .text-md-justify {
    text-align: justify; } }
@media only screen and (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }

  .text-lg-right {
    text-align: right; }

  .text-lg-center {
    text-align: center; }

  .text-lg-justify {
    text-align: justify; } }
#mr-header > .header-wrapper {
  padding-top: 50px;
  min-height: 150px; }

.header-brand-wrapper > .header {
  font-size: 35px;
  min-width: 325px; }

.header > .brand-image, .header > .brand-name {
  display: inline-block;
  vertical-align: middle; }

.header > .brand-image > img {
  display: inline-block;
  width: 62.5px;
  vertical-align: middle; }

.mr-nav-list-item {
  display: inline-block;
  cursor: pointer;
  color: #555;
  width: 6em;
  font-family: "Century Gothic";
  font-size: 35px;
  -webkit-transition: font 0.2s ease;
  -ms-transition: font 0.2s ease;
  -moz-transition: font 0.2s ease;
  -o-transition: font 0.2s ease;
  transition: font 0.2s ease;
  text-align: center; }

.mr-nav-list-item.selected {
  color: #000;
  font-size: 38.5px; }

.mr-menu-close {
  color: #fff; }

.mr-menu-open {
  color: #000; }

#mr-menu-btn > button {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  font-size: 20px;
  z-index: 9999; }

/*Style for sidebar for small and xs devices*/
@media only screen and (max-width: 992px) {
  #mr-header {
    height: 75px; }

  .header > .brand-image > img {
    width: 125px; }

  #mr-header-wrapper.open {
    top: 0;
    left: 0;
    bottom: 0; }

  #mr-header-wrapper.closed {
    top: 0;
    left: -750px;
    bottom: 0; }

  .sidebar-mask {
    position: fixed;
    z-index: 8888;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all .5s ease-in; }

  .mr-nav-list-item {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
    .mr-nav-list-item * {
      color: #aaa !important; }

  .mr-nav-list-item.selected {
    color: #fff !important; }

  #mr-navbar > .mr-navbar-wrapper, .header-brand-wrapper > .header {
    min-width: 200px; }

  #mr-header > .header-wrapper {
    position: fixed;
    z-index: 9888;
    max-width: 750px;
    max-height: 100%;
    background-color: #352a38;
    transition: all .5s ease-in;
    overflow: auto; }
    #mr-header > .header-wrapper * {
      color: #fff; }

  #mr-header-brand > .header-brand-wrapper {
    margin-bottom: 50px; } }
@media only screen and (max-width: 992px) and (min-width: 768px) {
  #mr-header {
    width: 75%; } }
@media only screen and (max-width: 768px) {
  #mr-header {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
