<div class="mr-header" id="mr-header" ng-controller="HeaderController">
	<div class="menu-btn-wrapper hidden-md hidden-lg" id="mr-menu-btn">
		<button class="mr-menu-open" ng-if="!menuOpen" ng-click="openMenu()">
			<span class="glyphicon glyphicon-menu-hamburger"></span>
		</button>
		<button class="mr-menu-close" ng-if="menuOpen" ng-click="closeMenu()">
			<span class="glyphicon glyphicon-remove-circle"></span>
		</button>
	</div>
	<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12 header-wrapper" ng-class="menuOpen? 'open': 'closed'" id="mr-header-wrapper" ng-transclude></div>
</div>